#player_showcases
  %a#sony
  .showcase.left
    .video_wrap
      %video#showcase_sony.sublime{ width: 640, height: 360, poster: "http://media.sublimevideo.net/v/sony-nex-fs700e.jpg", preload: 'none', data: { uid: 'showcase-sony', name: 'NEX-FS700EK', settings: 'player-kit:6; sharing-enable:true; sharing-embed-width:200px; sharing-embed-url:/path/to/the/embed/video.html; sharing-twitter-url:http://sublimevideo.net/tailor-made-players/sony; sharing-facebook-url:http://sublimevideo.net/tailor-made-players/sony;', 'info-enable' => 'true', 'product-url' => 'http://www.sony.co.uk/pro/product/35mmdigitalmotionpicturecamerascamcorders/nex-fs700ek/overview' } }
        <source src="http://player.vimeo.com/external/39839187.sd.mp4?s=14767e79da41842ad8997cecc6c975ad" />
        <source src="http://player.vimeo.com/external/39839187.hd.mp4?s=c4ad4400a2ae812768ba9c752b308d51" data-quality="hd" />
        <source src="http://player.vimeo.com/external/39839187.mobile.mp4?s=fcb84ad0cb9f7bf52818a5884025acbf" />
        <source src="http://media.sublimevideo.net/v/sony-nex-fs700e_360p.webm" />
        <source src="http://media.sublimevideo.net/v/sony-nex-fs700e_720p.webm" data-quality="hd" />
    .desc
      %h4= "Sony"
      %p= "This tailor-made player designed for Sony Europe has been developed in collaboration with their agency Bite Communications following Sony's branding guidelines."
    .spacer
  %a#twit
  .showcase.right
    .video_wrap
      %video.sublime{ width: 640, height: 360, poster: "http://media.sublimevideo.net/v/twit-ipad-today-125-excerpt.jpg", preload: 'none', data: { uid: 'showcase-twittv', name: 'TWiT.TV Showcase', settings: 'player-kit:5; initial-overlay-enable:false; sharing-enable:true; sharing-embed-width:200px; sharing-embed-url:/path/to/the/embed/video.html; sharing-twitter-url:http://sublimevideo.net/tailor-made-players/twit; sharing-facebook-url:http://sublimevideo.net/tailor-made-players/twit;' } }
        <source src="http://media.sublimevideo.net/v/twit-ipad-today-125-excerpt_360p.mp4" />
        <source src="http://media.sublimevideo.net/v/twit-ipad-today-125-excerpt_720p.mp4" data-quality="hd" />
        <source src="http://media.sublimevideo.net/v/twit-ipad-today-125-excerpt_360p.webm" />
        <source src="http://media.sublimevideo.net/v/twit-ipad-today-125-excerpt_720p.webm" data-quality="hd" />
    .desc
      %h4= "TWiT.TV"
      %p= "This tailor-made TWiT.TV player integrates their brand and elements of their identity, and carry them wherever the player is embedded."
    .spacer
  %a#blackhandcinema
  .showcase.left
    .video_wrap
      %video.sublime{ width: 640, height: 360, poster: "http://media.sublimevideo.net/v/anthony-rocawear-presents-jay-z-from-marcy-to-barclays-commercial.jpg", preload: 'none', data: { uid: 'showcase-anthony', name: 'Rocawear, Marcy to Barclays', settings: 'player-kit:7' } }
        <source src="http://media.sublimevideo.net/v/anthony-rocawear-presents-jay-z-from-marcy-to-barclays-commercial_360p.mp4" />
        <source src="http://media.sublimevideo.net/v/anthony-rocawear-presents-jay-z-from-marcy-to-barclays-commercial_720p.mp4" data-quality="hd" />
        <source src="http://media.sublimevideo.net/v/anthony-rocawear-presents-jay-z-from-marcy-to-barclays-commercial_360p.webm" />
        <source src="http://media.sublimevideo.net/v/anthony-rocawear-presents-jay-z-from-marcy-to-barclays-commercial_720p.webm" data-quality="hd" />
    .desc
      %h4= "Black Hand Cinema"
      %p= "This tailor-made player designed for Sony Europe has been developed in collaboration with their agency Bite Communications following Sony's branding guidelines."
    .spacer
  %a#next15
  .showcase.right
    .video_wrap
      %video.sublime{ width: 640, height: 360, poster: "http://media.sublimevideo.net/v/next15-sublime.jpg", preload: 'none', data: {uid: 'showcase-next15', name: 'Next15 Showcase', settings: 'player-kit:8; sharing-enable:true; sharing-embed-width:200px; sharing-embed-url:/path/to/the/embed/video.html; sharing-twitter-url:http://sublimevideo.net/tailor-made-players/next15; sharing-facebook-url:http://sublimevideo.net/tailor-made-players/next15;' } }
        <source src="http://media.sublimevideo.net/v/next15-sublime_360p.mp4" />
        <source src="http://media.sublimevideo.net/v/next15-sublime_720p.mp4" data-quality="hd" />
        <source src="http://media.sublimevideo.net/v/next15-sublime_360p.webm" />
        <source src="http://media.sublimevideo.net/v/next15-sublime_720p.webm" data-quality="hd" />
    .desc
      %h4= "Next 15"
      %p= "This tailor-made TWiT.TV player integrates their brand and elements of their identity, and carry them wherever the player is embedded."
    .spacer
  %a#html5
  .showcase.left
    .video_wrap
      %video.sublime{ width: 640, height: 360, poster: image_path("demo/midnight_sun_800.jpg"), preload: 'none', data: { uid: 'showcase-html5', name: 'HTML5 Showcase', settings: 'player-kit:4; sharing-enable:true; sharing-embed-width:200px; sharing-embed-url:/path/to/the/embed/video.html; sharing-twitter-url:http://sublimevideo.net/tailor-made-players/html5; sharing-facebook-url:http://sublimevideo.net/tailor-made-players/html5;' } }
        <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_360p.mp4" />
        <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_720p.mp4" data-quality="hd" />
        <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_360p.webm" />
        <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_720p.webm" data-quality="hd" />
    .desc
      %h4= "HTML5"
      %p= "This tailor-made player designed for Sony Europe has been developed in collaboration with their agency Bite Communications following Sony's branding guidelines."
    .spacer
