- @page_title = "Contact"
= content_for :header do
  %h2= "Contact Us"
  %p.sub= "We'd love to hear from you! Find out about the different ways you can contact us below."

%p= raw "For technical support please visit our #{link_to "Help page", 'help'}."

%p= raw "For media inquiries please refer to our #{link_to 'News page', 'news'} or if you prefer simply email us at #{mail_to(t("mailer.press.email").html_safe, t("mailer.press.email"), encode: "hex", class: "hl")}."

%p= raw "For inquiries about custom and enterprise solutions please use our dedicated #{link_to 'contact form', new_tailor_made_player_request_path} or if your prefer email us at #{mail_to(t("mailer.sales.email").html_safe, t("mailer.sales.email"), encode: "hex", class: "hl")}."

%p= raw "For all other inquiries please email us at #{mail_to(t("mailer.info.email").html_safe, t("mailer.info.email"), encode: "hex", class: "hl")}."
