- @page_title = "Contact"
= content_for :header do
  %h2 Contact Us
  %p.sub We'd love to hear from you! Find out about the different ways you can contact us below.

%p
  For technical support please visit our
  = succeed '.' do
    = link_to 'Help page', page_path('help')

%p
  For media inquiries please refer to our
  = link_to 'News page', page_path('news')
  or if you prefer simply email us at
  = succeed '.' do
    = mail_to t('mailer.press.email'), t('mailer.press.email'), encode: 'hex', class: 'hl'

%p
  For inquiries about custom and enterprise solutions please use our dedicated
  = link_to 'contact form', new_tailor_made_player_request_path
  or if your prefer email us at
  = succeed '.' do
    = mail_to t('mailer.sales.email'), t('mailer.sales.email'), encode: 'hex', class: 'hl'

%p
  For feature requests, please ask in our
  = succeed '.' do
    = link_to 'community forum', get_satisfaction_next_features_discussion_url, onclick: 'window.open(this); return false'

%p
  For all other inquiries please email us at
  = succeed '.' do
    = mail_to t('mailer.info.email'), t('mailer.info.email'), encode: 'hex', class: 'hl'
