- @page_title = "Help"
= content_for :header do
  %h2= "Need some help?"
  %p.sub
    = raw "Read the #{link_to "documentation", '#documentation'}, ask our #{link_to "community", '#community_forum'} or our #{link_to "support team", '#email_support'}."

%span.life_belt
= render 'layouts/help/documentation'
= render 'layouts/help/community_forum'
= render 'layouts/help/email_support'
