= content_for :header do
  #slides
    .slide.s_1.active
      .s_wrap
        %h2= "The HTML5 Video Age Starts Now"
        %p.desc
          = "Introducing SublimeVideo Horizon,"
          %br
          = "the Framework that finally sparks the HTML5 Video revolution, by enabling full graphic freedom and features modularity,"
          = "working perfectly on any device."
        = link_to 'horizon-framework', class: "learn_more" do
          = "Learn more"
          %span.icon-arrow
    .slide.s_2
      .s_wrap
        %h2
          = "Start Assembling Your Player!"
          %span.beta= "Beta"
        %p.desc= "Introducing the new modular SublimeVideo player for every website, powered by SublimeVideo Horizon™"
        = link_to 'modular-player', class: "learn_more" do
          = "Learn more"
          %span.icon-arrow
    .slide.s_3
      .s_wrap
        %h2= "No limits, Just Draw your Player"
        %p.desc
          = "Web agencies and IT companies: Join our Partnership Program to provide your customers with first-rate branded players that work perfectly on any device, powered by SublimeVideo Horizon™."
          = link_to 'tailor-made-players' do
            = "Learn more"
            %span.icon-arrow
  #home_video
    .v_shadow
    = link_to "#video_horizon", class: "sublime", id:"lightbox_horizon" do
      = image_tag "home/video/thumbs/thumb_1.jpg", size: "270x152", alt: "Video Thumb", class: "video_thumb"
      %span.overlay
      %span.play
    %video#video_horizon{ width: 800, height: 450, style: 'display:none', poster: image_path('horizon/posters/poster_1.jpg'),  data: { uid: 'home', name: 'Home', 'action-enable' => 'true' } }
      <source src="//media.sublimevideo.net/v/horizon_360p.mp4" data-quality='base' />
      <source src="//media.sublimevideo.net/v/horizon_720p.mp4" data-quality='hd' />
      <source src="//media.sublimevideo.net/v/horizon_360p.webm" data-quality='base' />
      <source src="//media.sublimevideo.net/v/horizon_720p.webm" data-quality='hd' />

= content_for :middle do
  .selectors_wrap
    .left.side_bg.col><
    %ul.selectors.col><
      %li.s_1.active
        .l
        = link_to "SublimeVideo Horizon Powerful HTML5 Video Foundations", ""
        .r
      %li.s_2
        .l
        = link_to "The New Modular SublimeVideo Player for every website", ""
        .r
      %li.s_3
        .l
        = link_to "Tailor-Made SublimeVideo Players for Brands", ""
        .r
    .right.side_bg.col><
  %section#get_it_now
    .texture
      .wrap
        %h3
          = "SublimeVideo Player"
          %span= "Starts Free"
        .button_wrap
          = link_to "Get It Now", root_url(host: request.domain, p: 'signup'), onclick: "return SublimeVideo.UI.Utils.openAccountPopup('signup')", class: "big_button"
        = link_to 'youtube', class: "youtube" do
          = "Now with"
          = image_tag "home/get_it_now_youtube@2x.png", size: "68x30"
          = "integration!"
%section.tailor_made
  %h4.custom_break= "Horizon Tailor-Made Players Showcases"
  %ul.demos
    %li.demo.d_1
      .video_wrap
        = image_tag "home/showcase/players/twit_player.jpg", size: "480x270"
      .desc
        %h3= "TWiT.TV"
        %p= "This tailor-made Twit.tv player integrates their brand and elements of their identity, and carry them wherever the player is embedded."
      .spacer
  %ul.demo_switch
    %li.active.d_1
      = link_to "" do
        %span= "TWiT.TV"
    %li.d_2
      = link_to "" do
        %span= "Sony"
    %li.d_3
      = link_to "" do
        %span= "Black Hand Cinema - Anthony Mandler"
  = link_to new_tailor_made_player_request_path, class: "need_a_player" do
    = "Need a tailor-made player?"
    %span.icon-arrow
  .spacer
%section.showcase
  %h4.custom_break= "They use SublimeVideo"
  %table.logos
    %tr
      %td= image_tag "home/logos/activision.png", alt: "Activision", size: "110x27"
      %td
        -#= image_tag "home/logos/bigcartel.png", alt: "Big Cartel", size: "87x22"
      %td= image_tag "home/logos/bredbandsbolaget.png", alt: "Bredbandsbolaget", size: "94x35"
    %tr
      %td= image_tag "home/logos/ford.png", alt: "Ford", size: "71x30"
      %td= image_tag "home/logos/jingit.png", alt: "Jingit", size: "74x24"
      %td= image_tag "home/logos/nissan.png", alt: "Nissan", size: "47x41"
    %tr
      %td= image_tag "home/logos/npr.png", alt: "Npr", size: "72x27"
      %td= image_tag "home/logos/qualcomm.png", alt: "Qualcomm", size: "106x24"
      %td= image_tag "home/logos/ralph_lauren.png", alt: "Ralph Lauren", size: "108x13"
    %tr
      %td= image_tag "home/logos/rockamring.png", alt: "Rock Am Ring", size: "98x24"
      %td= image_tag "home/logos/sony.png", alt: "Sony", size: "85x17"
      %td= image_tag "home/logos/spyder.png", alt: "Spyder", size: "87x17"
    %tr
      %td= image_tag "home/logos/taptaptap.png", alt: "tap tap tap", size: "109x27"
      %td= image_tag "home/logos/tetrapak.png", alt: "Tetrapak", size: "50x46"
      %td= image_tag "home/logos/twit.png", alt: "TWiT.TV", size: "43x53"
      -# %td= image_tag "home/logos/littlebigplanet.png", alt: "Little Big Planet", size: "77x56"
  -#%table.logos
  -#  %tr
  -#    %td= link_to (image_tag "home/logos/littlebigplanet.png", alt: "Little Big Planet", size: "96x66"), "http://blog.jilion.com/2011/04/15/customer-showcase-media-molecule-littlebigplanet2"
  -#    %td= link_to (image_tag "home/logos/twit_tv.png", alt: "Twit.tv", size: "107x48"), "http://blog.jilion.com/2012/03/31/welcoming-twit-tv-to-the-sublimevideo-community"
  -#  %tr
  -#    %td= link_to (image_tag "home/logos/taptaptap.png", alt: "Tap Tap Tap", size: "125x31"), "http://blog.jilion.com/2011/06/01/customer-showcase-camera-plus"
  -#    %td= link_to (image_tag "home/logos/tetrapak.png", alt: "Tetra Pak", size: "65x60"), "http://blog.jilion.com/2011/06/28/customer-showcase-tetra-pak"
  -#  %tr
  -#    %td= link_to (image_tag "home/logos/bigcartel.png", alt: "Big Cartel", size: "118x30"), "http://blog.jilion.com/2011/04/26/customer-showcase-big-cartel"
  -#    %td= link_to (image_tag "home/logos/bredbandsbolaget.png", alt: "Bredbandsbolaget", size: "124x47"), "http://blog.jilion.com/2011/09/27/customer-showcase-bredbandsbolaget"
  -#  %tr
  -#    %td= link_to (image_tag "home/logos/method_and_craft.png", alt: "Method & Craft", size: "67x54"), "http://blog.jilion.com/2011/04/18/customer-showcase-method-and-craft"
  -#    %td= link_to (image_tag "home/logos/rock_am_ring.png", alt: "Rock Am Ring", size: "112x26"), "http://blog.jilion.com/2011/07/22/customer-showcase-rock-am-ring"
  -# .quote.mediamolecule{ style: 'display:none;' }
  -#   = image_tag "home/showcase/tom_kiss.png", alt: "Tom Kiss", size: "219x341"
  -#   %blockquote= raw "&ldquo;SublimeVideo allowed us to deliver our videos to a much wider audience&rdquo;"
  -#   %p.author
  -#     = "Tom Kiss, Designer at"
  -#     %br
  -#     = "Media Molecule - part of Sony Computer Entertainment"
  -#   = link_to page_path('customer-showcase'), class: "view_all_showcases" do
  -#     %span= "View showcases"
  .quote.katabatic
    = image_tag "home/showcase/emery_wells.png", alt: "Emery Wells", size: "271x343"
    %blockquote= raw "&ldquo;SublimeVideo ensures our videos look beautiful on any browser.&rdquo;"
    %p.author
      = "Emery Wells, Founder/CTO"
      %br
      = "Katabatic Digital"
    = link_to 'testimonials', class: "view_all_showcases" do
      %span= "View testimonials"
  .spacer

= content_for :highlights do
  %section.highlights
    .content
      %h4.custom_break.t1= "Highlights"
      .wrap
        %ul
          %li.box.new
            = link_to my_url('video-code-generator') do
              = image_tag "home/highlights/video_code_generator.png", alt: "Video Code Generator", size: "178x141", style: "margin-top:0"
              %span.text
                %strong= "Video Code Generator"
                %span.desc= raw "Easily create &lt;video&gt; elements<br> optimized for SublimeVideo."
              %span.badge
          %li.box
            = link_to "http://blog.jilion.com/2012/03/31/welcoming-twit-tv-to-the-sublimevideo-community" do
              = image_tag "home/highlights/twit_tv.png", alt: "Twit.tv", size: "161x75", style: "margin-top:30px"
              %span.text
                %strong= "Welcoming TWiT.tv"
                %span.desc= raw "TWiT is now using SublimeVideo<br> for all of their shows."
          %li.box.demo
            = link_to demo_site_stats_url do
              = image_tag "home/highlights/rts.png", alt: "Universal Real-Time Stats", size: "100x87", style: "margin-top:30px"
              %span.text
                %strong= "Universal Real-Time Stats"
                %span.desc= "Get the complete picture, in real-time."
              %span.badge
          %li.box
            = link_to "http://blog.jilion.com/2012/04/03/vivendi-awards-sublimevideo-its-coup-de-coeur-prize-at-mipcube-lab-2012" do
              = image_tag "home/highlights/vivendi.png", alt: "Vivendi Awards SublimeVideo", size: "160x33", style: "margin-top:50px"
              %span.text
                %strong= "Vivendi Awards"
                %span.desc= raw "“Coup de Coeur” Prize<br> at MIPCube Lab 2012."
          %li.box
            = link_to "http://blog.jilion.com/2012/04/02/sublimevideo-awarded-most-promising-disruptive-tv-start-up-at-mipcube-lab-2012" do
              = image_tag "home/highlights/mipcube.png", alt: "SublimeVideo Awarded at MIPCube Lab 2012", size: "164x77"
              %span.text
                %strong= "SublimeVideo Awarded at MIPCube Lab 2012"
                %span.desc= "“Most Promising Disruptive TV Start-up”"
      %button.previous.arrow
        %span= "previous"
      %button.next.arrow
        %span= "next"
      .news_ticker
        %h4.custom_break.t2= "Latest News"
        - cached_latest_sublimevideo_news(3).each_with_index do |news, i|
          .news{ id: "news_#{i}", style: i > 0 ? "display:none" : "" }
            = link_to news.title, news.url
        .spacer
