= content_for :header do
  #slides
    .slide.s_1.active
      .s_click{ onclick: "location.href='/horizon-framework'" }
        .s_wrap
          %h2= "The HTML5 Video Age Starts Now"
          %p.desc
            = "Introducing SublimeVideo Horizon, the Framework that finally sparks the HTML5 Video revolution, by enabling full graphic freedom and features modularity, working perfectly on any browser and the latest mobile platforms"
          = link_to page_path('horizon-framework'), class: "learn_more" do
            = "Learn more"
            %span.icon-arrow
    .slide.s_2
      .s_click{ onclick: "location.href='/modular-player'" }
        .s_wrap
          %h2
            = "Start Assembling Your Player!"
          %p.desc= "Introducing the new modular SublimeVideo player for every website, powered by SublimeVideo Horizon™"
          = link_to page_path('modular-player'), class: "learn_more" do
            = "Learn more"
            %span.icon-arrow
    .slide.s_3
      .s_click{ onclick: "location.href='/tailor-made-players'" }
        .s_wrap
          %h2= "No limits, Just Draw your Player"
          %p.desc
            = "Web agencies and IT companies: Join our Partnership Program to provide your customers with first-rate branded players that work perfectly on any device, powered by SublimeVideo Horizon™."
            = link_to page_path('tailor-made-players') do
              = "Learn more"
              %span.icon-arrow
  #home_video{ style: "display:none" }
    .v_shadow
    = link_to "#video_horizon", class: "sublime", id: "lightbox_horizon" do
      - (1..6).each do |n|
        = image_tag "home/video/thumbs/thumb_#{n}.jpg", size: "270x152", class: "video_thumb", style: 'display:none', alt: ''
      %span.overlay
      %span.play
    %video#video_horizon{ width: 800, height: 450, style: 'display:none', poster: image_path('home/video/posters/poster_1.jpg'),  data: { uid: 'home', name: 'Home', 'action-enable' => 'true', 'embed-size' => '640x360', 'embed-url' => "//#{cdn_host}/embeds/horizon.html", 'sharing-text' => 'Check out SublimeVideo Horizon, ground-breaking HTML5 Video framework', 'sharing-url' => page_url('') } }
      <source src="http://media.sublimevideo.net/v/horizon_360p.mp4" data-quality='base' />
      <source src="http://media.sublimevideo.net/v/horizon_720p.mp4" data-quality='hd' />
      <source src="http://media.sublimevideo.net/v/horizon_360p.webm" data-quality='base' />
      <source src="http://media.sublimevideo.net/v/horizon_720p.webm" data-quality='hd' />

= content_for :middle do
  .selectors_wrap
    .left.side_bg.col><
    %ul.selectors.col#home_slide_selector><
      %li.s_1.active
        .l
        = link_to "SublimeVideo Horizon Powerful HTML5 Video Foundations", page_path('horizon-framework')
        .r
      %li.s_2
        .l
        = link_to "The New Modular SublimeVideo Player for every website", page_path('modular-player')
        .r
      %li.s_3
        .l
        = link_to "Tailor-Made SublimeVideo Players for Brands", page_path('tailor-made-players')
        .r
    .right.side_bg.col><
  %section#get_it_now
    .texture
      .wrap
        %h3
          = "SublimeVideo Player"
          %span= "Starts Free"
        .button_wrap
          = link_to "Get It Now", root_url(host: request.domain, p: 'signup'), onclick: "return SublimeVideo.UI.Utils.openAccountPopup('signup')", class: "big_button"
        = link_to page_path('youtube'), class: "youtube" do
          = "Now with"
          = image_tag "home/get_it_now_youtube@2x.png", size: "68x30"
          = "integration!"
%section.tailor_made
  %h4.custom_break= "Horizon Tailor-Made Players Showcases"
  .wrap
    %ul.demos
      %li.demo.slide.d_1.active
        .video_wrap
          = link_to page_path('tailor-made-players', anchor: 'sony') do
            = image_tag "home/showcase/players/sony_player.jpg", size: "480x270", alt: "Sony"
            %span.overlay= "See it in action"
        .desc{ style: "padding-top:40px" }
          %h3= "Sony"
          %p= raw "This tailor-made player designed for #{link_to "Sony Europe", "http://www.sony-europe.com"} has been developed in collaboration with their agency #{link_to "Bite Global", "http://www.biteglobal.com"} following Sony's branding guidelines."
        .spacer
      %li.demo.slide.d_2
        .video_wrap
          = link_to page_path('tailor-made-players', anchor: 'twit') do
            = image_tag "home/showcase/players/twit_player.jpg", size: "480x270", alt: "TWiT.TV"
            %span.overlay= "See it in action"
        .desc{ style: "padding-top:60px" }
          %h3= "TWiT.TV"
          %p= raw "This tailor-made #{link_to "TWiT.TV", "http://twit.tv"} player integrates their brand and elements of their identity, and carry them wherever the player is embedded."
        .spacer
      %li.demo.slide.d_3
        .video_wrap
          = link_to page_path('tailor-made-players', anchor: 'blackhandcinema') do
            = image_tag "home/showcase/players/blackhandcinema_player.jpg", size: "480x270", alt: "Black Hand Cinema"
            %span.overlay= "See it in action"
        .desc{ style: "padding-top:12px" }
          %h3= "Black Hand Cinema"
          %p{ style: "font-size:15px; line-height:26px"}= raw "This tailored-made player has been developed in collaboration with LA-based award-winning director and photographer Anthony Mandler of #{link_to "Black Hand Cinema", "http://blackhandcinema.com"}. The goal has been to keep the inline player light and stylish while expanding the set of features once in full screen (on browsers with full screen HTML5 support)."
        .spacer
      %li.demo.slide.d_4
        .video_wrap
          = link_to page_path('tailor-made-players', anchor: 'next15') do
            = image_tag "home/showcase/players/next15_player.jpg", size: "480x270", alt: "Next 15"
            %span.overlay= "See it in action"
        .desc{ style: "padding-top:50px" }
          %h3= "Next 15"
          %p= raw "Watch #{link_to "Next15", "http://www.next15.com"}'s CEO Tim Dyson comment on the importance of SublimeVideo's cross-platform player branding and customisation technology."
        .spacer
      %li.demo.slide.d_5
        .video_wrap
          = link_to page_path('tailor-made-players', anchor: 'html5') do
            = image_tag "home/showcase/players/html5_player.jpg", size: "480x270"
            %span.overlay= "See it in action"
        .desc{ style: "padding-top:50px" }
          %h3= "HTML5"
          %p= "Here's a showcase paying homage to HTML5 itself! Like all other Horizon players, it is rendered purely using vector graphics. Enjoy it on Retina displays!"
        .spacer
  %ul.demo_switch#showcases_selector
    %li.d_1.active
      = link_to "" do
        %span= "Sony"
    %li.d_2
      = link_to "" do
        %span= "TWiT.TV"
    %li.d_3
      = link_to "" do
        %span= "Black Hand Cinema - Anthony Mandler"
    %li.d_4
      = link_to "" do
        %span= "Next 15"
    %li.d_5
      = link_to "" do
        %span= "HTML5"
  .spacer
  .need_a_player
    %h4= "Need a tailor made player?"
    = link_to new_tailor_made_player_request_path do
      = "Contact us"
      %span.icon-arrow
  .spacer
%section.showcase
  %h4.custom_break= "They use SublimeVideo"
  %table.logos
    %tr
      %td= image_tag "home/logos/activision.png", alt: "Activision", size: "110x27"
      %td= image_tag "home/logos/sony.png", alt: "Sony", size: "85x17"
      %td= image_tag "home/logos/bredbandsbolaget.png", alt: "Bredbandsbolaget", size: "94x35"
    %tr
      %td= image_tag "home/logos/ford.png", alt: "Ford", size: "71x30"
      %td= image_tag "home/logos/jingit.png", alt: "Jingit", size: "74x24"
      %td= image_tag "home/logos/nissan.png", alt: "Nissan", size: "47x41"
    %tr
      %td= image_tag "home/logos/npr.png", alt: "Npr", size: "72x27"
      %td= image_tag "home/logos/qualcomm.png", alt: "Qualcomm", size: "106x24"
      %td= image_tag "home/logos/ralph_lauren.png", alt: "Ralph Lauren", size: "108x13"
    %tr
      %td= image_tag "home/logos/rockamring.png", alt: "Rock Am Ring", size: "98x24"
      %td= image_tag "home/logos/nokia.png", alt: "Nokia", size: "83x15"
      %td= image_tag "home/logos/spyder.png", alt: "Spyder", size: "87x17"
    %tr
      %td= image_tag "home/logos/taptaptap.png", alt: "tap tap tap", size: "109x27"
      %td= image_tag "home/logos/tetrapak.png", alt: "Tetrapak", size: "50x46"
      %td= image_tag "home/logos/twit.png", alt: "TWiT.TV", size: "43x53"
      -# %td= image_tag "home/logos/littlebigplanet.png", alt: "Little Big Planet", size: "77x56"
  -#%table.logos
  -#  %tr
  -#    %td= link_to (image_tag "home/logos/littlebigplanet.png", alt: "Little Big Planet", size: "96x66"), "http://blog.jilion.com/2011/04/15/customer-showcase-media-molecule-littlebigplanet2"
  -#    %td= link_to (image_tag "home/logos/twit_tv.png", alt: "Twit.tv", size: "107x48"), "http://blog.jilion.com/2012/03/31/welcoming-twit-tv-to-the-sublimevideo-community"
  -#  %tr
  -#    %td= link_to (image_tag "home/logos/taptaptap.png", alt: "Tap Tap Tap", size: "125x31"), "http://blog.jilion.com/2011/06/01/customer-showcase-camera-plus"
  -#    %td= link_to (image_tag "home/logos/tetrapak.png", alt: "Tetra Pak", size: "65x60"), "http://blog.jilion.com/2011/06/28/customer-showcase-tetra-pak"
  -#  %tr
  -#    %td= link_to (image_tag "home/logos/bigcartel.png", alt: "Big Cartel", size: "118x30"), "http://blog.jilion.com/2011/04/26/customer-showcase-big-cartel"
  -#    %td= link_to (image_tag "home/logos/bredbandsbolaget.png", alt: "Bredbandsbolaget", size: "124x47"), "http://blog.jilion.com/2011/09/27/customer-showcase-bredbandsbolaget"
  -#  %tr
  -#    %td= link_to (image_tag "home/logos/method_and_craft.png", alt: "Method & Craft", size: "67x54"), "http://blog.jilion.com/2011/04/18/customer-showcase-method-and-craft"
  -#    %td= link_to (image_tag "home/logos/rock_am_ring.png", alt: "Rock Am Ring", size: "112x26"), "http://blog.jilion.com/2011/07/22/customer-showcase-rock-am-ring"
  -# .quote.mediamolecule{ style: 'display:none;' }
  -#   = image_tag "home/showcase/tom_kiss.png", alt: "Tom Kiss", size: "219x341"
  -#   %blockquote= raw "&ldquo;SublimeVideo allowed us to deliver our videos to a much wider audience&rdquo;"
  -#   %p.author
  -#     = "Tom Kiss, Designer at"
  -#     %br
  -#     = "Media Molecule - part of Sony Computer Entertainment"
  -#   = link_to page_path('customer-showcase'), class: "view_all_showcases" do
  -#     %span= "View showcases"
  .quote.katabatic
    = image_tag "home/showcase/emery_wells.png", alt: "Emery Wells", size: "271x343"
    %blockquote= raw "&ldquo;SublimeVideo ensures our videos look beautiful on any browser.&rdquo;"
    %p.author
      = "Emery Wells, Founder/CTO"
      %br
      = "Katabatic Digital"
    = link_to page_path('testimonials'), class: "view_all_showcases" do
      %span= "View testimonials"
  .spacer

= content_for :highlights do
  %section.highlights
    .content
      %h4.custom_break.t1= "Highlights"
      .wrap
        %ul
          %li.box.new
            = link_to page_path('modular-player', anchor: 'google_analytics') do
              = image_tag "home/highlights/google_analytics.png", alt: "Google Analytics", size: "136x110", style: "margin-top:12px"
              %span.text
                %strong= "Google Analytics Integration"
                %span.desc= raw "Advanced stats for all your videos<br> with Google Analytics."
              %span.badge
          %li.box.new
            = link_to page_path('modular-player', anchor: 'player_api') do
              = image_tag "home/highlights/js_api.png", alt: "Advanced Player API", size: "168x138", style: "margin-top:8px"
              %span.text
                %strong= "Advanced Player API"
                %span.desc= raw "Implement custom and<br> advanced functionality."
              %span.badge
          %li.box.new
            = link_to page_path('modular-player', anchor: 'embed') do
              = image_tag "home/highlights/auto_embed.png", alt: "Auto Embed Add-on", size: "134x96", style: "margin-top:17px"
              %span.text
                %strong= "Auto embed add-on"
                %span.desc= raw "Let your audience easily<br>  share your videos."
              %span.badge
          %li.box
            = link_to page_path('modular-player', anchor: 'cuezones') do
              = image_tag "home/highlights/cue_zones.png", alt: "Cue Zones Add-on", size: "199x145", style: "margin-top:-5px"
              %span.text
                %strong= "Cue zones add-on"
                %span.desc= raw "Handle cue points in a<br> more powerful way."
              %span.badge
          %li.box
            = link_to page_path('modular-player', anchor: 'social_sharing') do
              = image_tag "home/highlights/social_sharing.png", alt: "Social Sharing Add-on", size: "240x124", style: "margin-top:5px"
              %span.text
                %strong= "Social sharing add-on"
                %span.desc= raw "Make your videos spread around<br /> popular social networks."
              %span.badge
          %li.box
            = link_to page_path('youtube') do
              = image_tag "home/highlights/youtube@2x.png", alt: "SublimeVideo YouTube", size: "147x65", style: "margin-top:30px"
              %span.text
                %strong= "Seamless integration"
                %span.desc= raw "Bringing together the world's most functional HTML5 Video Player with the biggest video platform."
              %span.badge
          %li.box
            = link_to page_path('modular-player', anchor: 'player_designs') do
              = image_tag "home/highlights/new_player_designs.png", alt: "New Player Designs", size: "123x108", style: "margin-top:12px"
              %span.text
                %strong= "3 Sleek player designs"
                %span.desc= raw "The new SublimeVideo Modular Player now lets choose your player design."
              %span.badge
          %li.box.demo
            = link_to demo_site_stats_url do
              = image_tag "home/highlights/rts.png", alt: "Universal Real-Time Stats", size: "100x87", style: "margin-top:30px"
              %span.text
                %strong= "Universal Real-Time Stats"
                %span.desc= "Get the complete picture, in real-time."
              %span.badge
          %li.box
            = link_to "http://blog.jilion.com/2012/04/03/vivendi-awards-sublimevideo-its-coup-de-coeur-prize-at-mipcube-lab-2012" do
              = image_tag "home/highlights/vivendi.png", alt: "Vivendi Awards SublimeVideo", size: "160x33", style: "margin-top:50px"
              %span.text
                %strong= "Vivendi Awards"
                %span.desc= raw "“Coup de Coeur” Prize<br> at MIPCube Lab 2012."
          %li.box
            = link_to "http://blog.jilion.com/2012/04/02/sublimevideo-awarded-most-promising-disruptive-tv-start-up-at-mipcube-lab-2012" do
              = image_tag "home/highlights/mipcube.png", alt: "SublimeVideo Awarded at MIPCube Lab 2012", size: "164x77"
              %span.text
                %strong= "SublimeVideo Awarded at MIPCube Lab 2012"
                %span.desc= "“Most Promising Disruptive TV Start-up”"
      %button.previous.arrow
        %span= "previous"
      %button.next.arrow
        %span= "next"
      .news_ticker
        %h4.custom_break.t2= "Latest News"
        - cached_latest_sublimevideo_news(3).each_with_index do |news, i|
          .news{ id: "news_#{i}", style: i > 0 ? "display:none" : "" }
            = link_to news.title, news.url
        .spacer
