- @page_title = "Pricing"

= content_for :header do
  %h2= "The Best HTML5 Video Player Technology, Starting Free"
  %p.sub= "The New SublimeVideo Modular Player, powered by SublimeVideo Horizon, gives you a tremendous set of powerful core features, for free! On top of it, we introduce a series of free and paid add-ons with more to come."

%h3.title= "Free Core Features"
%table.prices
  %tr
    %th{ colspan: 2 }= "Player"
  %tr
    %td.name
      %h4
        = "Seamless YouTube integration"
        = link_to page_path('youtube'), class: "arrow" do
          %span.icon-arrow
    %td.price
      %strong= "Free"
  %tr
    %td.name
      %h4
        = "HD switching"
        = link_to page_path('modular-player', anchor: 'hd'), class: "arrow" do
          %span.icon-arrow
    %td.price
      %strong= "Free"
  %tr
    %td.name
      %h4
        = "Responsive design support"
        = link_to page_path('modular-player', anchor: 'responsive'), class: "arrow" do
          %span.icon-arrow
    %td.price
      %strong= "Free"
  %tr
    %td.name
      %h4
        = "Keyboard control"
        = link_to page_path('modular-player', anchor: 'keyboard'), class: "arrow" do
          %span.icon-arrow
    %td.price
      %strong= "Free"
  %tr
    %td.name
      %h4
        = "Lightbox"
        = link_to page_path('modular-player', anchor: 'lightbox'), class: "arrow" do
          %span.icon-arrow
    %td.price
      %strong= "Free"
  %tr
    %td.name
      %h4
        = "JavaScript API"
        = link_to page_path('modular-player', anchor: 'api'), class: "arrow" do
          %span.icon-arrow
    %td.price
      %strong= "Free"
  %tr
    %th{ colspan: 2 }= "Cloud Delivery"
  %tr
    %td.name
      %h4
        = "Zero maintenance and automatic updates"
        = link_to page_path('modular-player', anchor: 'always_up_to_date'), class: "arrow" do
          %span.icon-arrow
    %td.price
      %strong= "Free"
  %tr
    %td.name
      %h4
        = "Fast & reliable CDN delivery"
        = link_to page_path('modular-player', anchor: 'fast_and_reliable'), class: "arrow" do
          %span.icon-arrow
    %td.price
      %strong= "Free"
  %tr
    %td.name
      %h4
        = "Unlimited page views and video plays"
    %td.price
      %strong= "Free"
  %tr
    %td.name
      %h4
        = "SSL serving"
    %td.price
      %strong= "Free"

%h3.title= "Add-ons"
%p.desc= "Prices are per site and per month. Each paid add-on has a 7-day free trial with no credit card required."

%table.prices
  %tr
    %th{ colspan: 2 }
      = link_to page_path('modular-player', anchor: 'player_designs') do
        = "Designs"
        %span.icon-arrow
  %tr
    %td.name
      %h4
        = "Classic"
    %td.price
      %strong= "Free"
  %tr
    %td.name
      %h4
        = "Flat"
    %td.price
      %strong= "Free"
  %tr
    %td.name
      %h4
        = "Light"
    %td.price
      %strong= "Free"
  %tr
    %th{ colspan: 2 }
      = link_to page_path('modular-player', anchor: 'logo') do
        = "On-Video Logo"
        %span.icon-arrow
  %tr
    %td.name
      %h4
        = "No SublimeVideo logo on video"
    %td.price
      %strong
        = "$9"
        %sup><= ".90"
        %small= '/mo'
  %tr
    %td.name
      %h4
        = "Your logo"
    %td.price
      %strong
        = "$19"
        %sup><= ".90"
        %small= '/mo'
  %tr
    %th{ colspan: 2 }
      = link_to page_path('modular-player', anchor: 'cuezones') do
        = "Cue Zones"
        %span.icon-arrow
  %tr
    %td.name
      %h4
        = "Cue Zones API"
    %td.price
      %strong
        = "$6"
        %sup><= ".90"
        %small= '/mo'
  %tr
    %th{ colspan: 2 }
      = link_to page_path('modular-player', anchor: 'social_sharing') do
        = "Sharing"
        %span.icon-arrow
  %tr
    %td.name
      %h4
        = "Social sharing"
        %small= "(Twitter, Facebook, Google+, Pinterest)"
    %td.price
      %strong
        = "$6"
        %sup><= ".90"
        %small= '/mo'
  %tr
    %th{ colspan: 2 }
      = link_to page_path('modular-player', anchor: 'embed') do
        = "Embed"
        %span.icon-arrow
  %tr
    %td.name
      %h4
        = "Manual embed"
    %td.price
      %strong= "Free"
  %tr
    %td.name
      %h4
        = "Auto embed"
    %td.price
      %strong
        = "$9"
        %sup><= ".90"
        %small= '/mo'
  %tr
    %th{ colspan: 2 }
      = link_to page_path('modular-player', anchor: 'stats') do
        = "Analytics"
        %span.icon-arrow
  %tr
    %td.name
      %h4
        = "Real-time statistics"
    %td.price
      %strong
        = "$9"
        %sup><= ".90"
        %small= '/mo'
  %tr
    %th{ colspan: 2 }
      = link_to page_path('modular-player', anchor: 'google_analytics') do
        = "Google Analytics"
        %span.icon-arrow
  %tr
    %td.name
      %h4
        = "Google Analytics integration"
    %td.price
      %strong
        = "$6"
        %sup><= ".90"
        %small= '/mo'
  %tr
    %th{ colspan: 2 }
      = link_to '#support' do
        = "Support"
        %span.icon-arrow
  %tr
    %td.name
      %h4
        = "Documentation, community forum & email support"
    %td.price
      %strong
        = "Free"
        %span.text><= link_to '*', '#support'
  %tr
    %td.name
      %h4
        = "VIP email support"
        %small= "(Guaranteed response time of 1 business day)"
    %td.price
      %strong
        = "$99"
        %sup><= ".90"
        %small= '/mo'
  %tr
    %th{ colspan: 2 }
      = link_to page_path('modular-player', anchor: 'upcoming_features') do
        = "More Add-ons"
        %span.icon-arrow
  %tr
    %td.text{ colspan: 2 }
      %p= raw "#{link_to "Upcoming add-ons", page_path('modular-player', anchor: 'upcoming_features')} will complement this list, #{link_to "let us know what you think we should add", get_satisfaction_next_features_discussion_url}."

= render "layouts/sign_up_box"

#need_more= raw "Need a tailor-made player? #{link_to "Contact us", new_tailor_made_player_request_path}."

.big_break

%section.faq
  .col_left
    .box
      %h4= "How does the '7 days free' on paid add-ons work?"
      %p= "We offer a 7-day free trial for each paid add-on - no credit card required. When your 7 days are almost up we will send you a reminder to give you the option to purchase the add-on."
    .box
      %h4= "How and when can I pay?"
      %p= "We accept credit card payments by VISA, MasterCard and American Express. Monthly payments are charged in USD for all products purchased on the first day of the next month. A daily pro-rata is calculated for products purchased or cancelled during a given month."
    .box
      %h4= "The free offer may seem too good to be true. Is it really free and unlimited?"
      %p
        = raw "Yes, it's completely free and gives you unlimited video plays. The  free player only displays a discreet"
        %a.sublime{ href: '#video_logo' }= "SublimeVideo logo"
        %video#video_logo{ width: 576, height: 324, poster: image_path("demo/midnight_sun_800.jpg"), preload: "none", style: "display:none", data: { uid: 'pricing-badged', name: 'Pricing Badged', settings: 'logo-enable:true' } }
          <source src="http://media.sublimevideo.net/v/midnight_sun_sv1_360p.mp4" />
          <source src="http://media.sublimevideo.net/v/midnight_sun_sv1_360p.webm" />
        = "for a few seconds after video playback begins."
    .box
      %h4= "What does 'per-site' mean?"
      %p= raw "Add-ons are purchased per-site. Each license is associated with a given site domain. You can use the wildcard option to extend your SublimeVideo player license to any subdomains of your main domain. Also, if you have multiple domains showing or pointing to the same content as your main domain, you can share the same license across these via our Alias domains option. #{link_to "Read more", docs_url('site-settings')}."
  .col_right
    .box
      %h4= "Advanced domain settings"
      %p= raw "We offer advanced domain settings, including the ability to specify staging domains and a wildcard option to extend your SublimeVideo license to subdomains of your main domain. #{link_to "Read more", docs_url('site-settings')}."
    .box
      %h4= "Can I add or remove add-ons at any time?"
      %p= "Absolutely! You can add or remove add-ons at any time. Any change is accounted for the next day, and changes happening in the middle of a month will be pro-rated so you only pay for the exact number of days you use a feature."
    .box#support
      %h4= "Support"
      %p
        = raw "All users have access to our extensive #{link_to "documentation", page_path('help', anchor: 'documentation')} and #{link_to "community forum", page_path('help', anchor: 'community_forum')}."
        = raw "Dedicated email support is offered to all customers with at least a paid add-on. If you need extra support and enhanced reactivity, we also offer a #{link_to 'VIP support add-on', page_path('modular-player', anchor: 'support'), class: 'hl'} with a guaranteed response within the next business day."
        = raw "#{link_to "Read  more on our help page", page_path('help')}."
  .spacer
