- @page_title = "Tailor-Made SublimeVideo Players"
- @body_class = "tailor_made"

= content_for :header do
  %h2= @page_title
  %p.sub= "The SublimeVideo Horizon Framework opens the door to tailor-made video players that allow all features and pixel perfect rendering on any platform!"

.main_copy
  %p
    = succeed ':' do
      = content_tag :strong, 'Web agencies and IT companies'
    Let's team-up to deliver your customers with all the advantages
    = succeed '.' do
      = link_to "SublimeVideo Horizon has to offer", page_path('horizon-framework')
  %p
    = succeed ':' do
      = content_tag :strong, 'Web publishers'
    Bring your audience both an unseen brand experience and custom interactions that suit your business requirements.

  = render 'shared/need_a_tailor_button'
  .big_break

  %h3.title Tailor-Made Players Showcases

  %p See examples of what's possible today.
  = render 'showcases'

  %h3.title Branded Video Player Design

  %p
    Web publishers can increase the consistency and immersivity of their user experience with a branded player. Our team will collaborate with their web agency to design custom players which will embody their brand identity, colors, logo, fonts, layout, etc. This design will be implemented with our unique HTML5 SublimeVideo Horizon technology ensuring that the design will work seamlessly across browsers and devices, and carry the web publisher's identity in all embeds.
    = succeed '.' do
      = link_to 'Contact us to share your requests and ideas', new_tailor_made_player_request_path

  %h3.title Custom Modules

  %p= raw "Web publishers may require a number of interactive extension modules to thoroughly engage their users. Upon request, we can implement custom modules to complement your branded player with additional interactive functions. Examples include specific social sharing functions, personalized information, e-commerce features and more. #{link_to "Contact us to share your requests and ideas", new_tailor_made_player_request_path}."

  %section.modules
    .wrap
      %ul
        %li.box
          = image_tag "tailor_made/modules/sketch_1.jpg", alt: "SublimeVideo Custom Module #1"
          %em.caption= "Buy Song Button (iTunes, Amazon, etc)"
        %li.box
          = image_tag "tailor_made/modules/sketch_2.jpg", alt: "SublimeVideo Custom Module #2"
          %em.caption= "360° Car Viewer"
        %li.box
          = image_tag "tailor_made/modules/sketch_3.jpg", alt: "SublimeVideo Custom Module #3"
          %em.caption= "Live Stock Information and Buy Button"
    %button.previous.arrow
      %span= "previous"
    %button.next.arrow
      %span= "next"
  .spacer
  .need_a_tailor
    = link_to new_tailor_made_player_request_path, class: "button" do
      = "Need a tailor-made player?"
      %strong= "Contact us"
