= content_for :javascript, sublimevideo_include_tag(request.ssl?, :www).html_safe
- @page_title = "Why SublimeVideo?"

= content_for :header do
  %h2= "Why SublimeVideo?"
  %p.sub= raw "Discover some of the key and unique benefits of SublimeVideo HTML5 Video Player."

%section.toc
  %ul.scroll_links
    %li
      = link_to "#slide_1" do
        %em= "1"
        %strong= "Play on Any Browser or Device"
        .spacer
    %li
      = link_to "#slide_2" do
        %em= "2"
        %strong= "Quick and Easy to Use"
        .spacer
    %li
      = link_to "#slide_3" do
        %em= "3"
        %strong= "Zero Maintenance"
        .spacer
    %li
      = link_to "#slide_4" do
        %em= "4"
        %strong= "Real-time Global Statistics"
        .spacer
%a{ id: 'slide_1' }        
%section.slide#slide_1
  %h2
    %em.number= "1"
    %strong= "Play on Any Browser or Device"
    %em.sub
      = "Guarantee that the majority of your audience will"
      %br
      %span= "never see a blank screen again"
    %span.spacer
  .problem.section_banner
    .wrap    
      %em= "The Problem:"
      %h3= "HTML5 Video is here, but it can be a real headache"
  .problem.slide_content
    = image_tag "why/html5_browsers_and_devices.png", alt: "HTML5 Browsers And Devices", class: "right", style: "margin-left:24px"
    %p= "HTML5 is the Web's new official standard and the only video playing technology supported by all mobile devices and browsers: it's the only choice if you want to reach every potential viewer today."
    .spacer
    = image_tag "why/flash_big.png", alt: "Flash", class: "left", style: "margin:7px 30px 24px -10px"
    %h3= "But what about Flash?"
    %p= raw "The Flash-based players that helped kickstart the online video revolution became ubiquitous because they were easy to develop and ran on 99% of desktop PCs. However, today's audiences access the Web from a number of different platforms that don’t support Flash, meaning <strong>Flash-based players are no longer suitable for the modern Web</strong>."
    .spacer
    = image_tag "why/html5_headache.png", alt: "HTML5 Headache", class: "right", style: "margin:50px 15px 0 46px"
    %h3= "The HTML5 Headache"
    %p= raw "Unfortunately, HTML5 Video isn't easy to implement properly because each device and browser uses a different implementation of HTML5. Because new browser versions and devices are released almost every day, any HTML5 Video player must be <strong>regularly updated</strong> to remain compatible with all platforms."
    %p= raw "So while it's absolutely key to implement an HTML5 Video player that works everywhere, all the time, this complexity  makes it <strong>totally unfeasible for the majority of site owners to create and maintain their own HTML5 Video Player</strong>."
  .solution.section_banner
    .wrap
      %em= "The Solution:"
      %h3= "SublimeVideo lets you enable true HTML5 Video without worrying about the technical details"
  .solution.slide_content
    %p= raw "SublimeVideo supports <strong>any device or browser</strong> and <strong>integrates seamlessly with your existing web page</strong>, so you don't need to worry about whether or not your audience will be able to watch your video."
    = image_tag "why/sublimevideo_enables_true_html5.png", alt: "SublimeVideo Enables True HTML5", style: "margin:-25px 0 -25px -8px"
    %p= raw "Automatic <strong>Flash fallback</strong> and a <strong>consistent user interface</strong> across the player’s HTML5 and Flash modes guarantee that every viewer using a desktop browser will enjoy the same consistent video experience, while support for modern connected devices ensures mobile users also benefit from flawless video playback."

  = link_to page_path('features'), class: "banner_link" do
    %span= "Learn more about the player and test SublimeVideo Player on any device or browser"
%a{ id: 'slide_2' } 
%section.slide#slide_2
  %h2
    %em.number= "2"
    %strong= "Quick and Easy to Use"
    %em.sub
      = "SublimeVideo provides any website with a"
      %br
      %span= "pain-free way to enable HTML5 Video"
    %span.spacer
  .problem.section_banner.warning
    .wrap
      %em= "The Problem:"
      %h3
        = "Other so-called HTML5 Video solutions are"
        %span.big= "“plug and PRAY”"
  .problem.slide_content
    = image_tag "why/glass_browser_broken.png", alt: "Glass Browser Broken", class: "left", style: "margin:10px 46px -20px -10px"
    %h3= "Stand-alone HTML5 Video Players"
    %p= "All other HTML5 Video players available today are standalone, which means they're far from easy to use:"
    %ul{ style: "padding-right:80px" }
      %li= raw "• They usually require you to <strong>download and install</strong> them to your server."
      %li= raw "• They generate conflicts with pages and even <strong>break your site's code</strong>."
      %li= raw "• They randomly don't even work so <strong>your video won't even play</strong>!"
    .spacer
    %p= "While these players may look like an HTML5 Video solution, in reality they're complex and fragile. Ultimately they’re unsuitable for the majority of site owners simply looking for a robust 'plug and play' solution."
  .solution.section_banner.play
    .wrap    
      %em= "The Solution:"
      %h3
        = "With SublimeVideo, HTML5 Video becomes"
        %span.big= "“plug and PLAY”"
  .solution.slide_content
    = image_tag "why/glass_browser_sublimevideo.png", alt: "SublimeVideo Browser Glass", class: "right", style: "margin:25px 30px 0 50px"
    %ul
      %li= raw "Unlike other HTML5 Video players SublimeVideo works in <strong>any existing web page without creating conflicts or breaking your site</strong>."
      %li= raw "SublimeVideo's cloud-based model means you <strong>don't need to download or install anything to add the player to your site.</strong>"
      %li= raw "You can use our #{link_to "Video Code Generator", my_url('video-code-generator')} to <strong>easily create &lt;video&gt; elements</strong> that are automatically optimized for SublimeVideo."
      %li= raw "Integrated HD switching, video embeds, lightbox functionality and playlist support make it easy to ensure the player meets your site's requirements, while our powerful API makes it <strong>easy to develop custom and advanced player functionalities</strong>."
    %p= "SublimeVideo is a true 'plug and play' solution that fits seamlessly into your site. The cloud-model guarantees your video is always played reliably, efficiently and consistently."
    .big_break{ style: "margin:20px 0 12px -7px" }
    = image_tag "why/sublimevideo_life_belt.png", alt: "SublimeVideo Life Belt Help", class: "left", style: "margin:12px 20px 0 0"
    %h3= "If you do need support, we're here to help."
    %p= raw "Our #{link_to "documentation", docs_url('')} and #{link_to("community forum", "http://getsatisfaction.com/sublimevideo")} are great resources for troubleshooting, while users of our paid plans also have access to direct email support."
  = link_to page_path('customer-showcase'), class: "banner_link" do
    %span= "See what our users have to say about using SublimeVideo with their sites"
%a{ id: 'slide_3' }    
%section.slide#slide_3
  %h2
    %em.number= "3"
    %strong= "Zero Maintenance"
    %em.sub
      = "Our cloud model means your player is"
      %span= "always up-to-date,"
      = "saving you the additional time and money associated with maintaining a stand-alone video player"
    %span.spacer
  .problem.section_banner
    .wrap
      %em= "The Problem:"
      %h3= "Maintaining HTML5 Video solutions can take a lot of time and effort"
  .problem.slide_content
    %p= raw "Because the HTML5 platforms landscape is constantly evolving it's vital to keep any HTML5 Video player up-to-date. Stand-alone HTML5 Video players commonly require you to spend <strong>extra time and effort</strong> regularly updating them to maintain compatibility with browsers and HTML5-enabled devices."
    = image_tag "why/maintenance_timeline.png", alt: "Maintenance Timeline", style: "margin:-45px 0"
    %h4= "Do you have enough time to continue to update and maintain an HTML5 Video player?"
  .solution.section_banner
    .wrap
      %em= "The Solution:"
      %h3= "With SublimeVideo you don't ever need to lift a finger to update your player"
  .solution.slide_content
    = image_tag "why/sublimevideo_cloud.png", alt: "SublimeVideo Auto Updates", class: "right", style: "margin:60px 25px 30px 50px"
    %p= "SublimeVideo's cloud model gives you unique benefits:"
    %ul
      %li= raw "Your player is <strong>reliably delivered</strong> to your audience worldwide."
      %li= raw "<strong>We take care of all maintenance for you</strong>: Whenever we detect a bug fix or a new platform to support we push the update to your player and your audience."
      %li= raw "Our Player grows <strong>stronger and more reliable over time</strong> as we regularly update the thousands of sites using SublimeVideo."
%a{ id: 'slide_4' } 
%section.slide#slide_4
  %h2
    %em.number= "4"
    %strong= "Real-time Global Statistics"
    %em.sub
      = "Integrated, real-time video statistics give you an"
      %br
      %span= "complete overview of your video audience"
    %span.spacer
  .problem.section_banner
    .wrap
      %em= "The Problem:"
      %h3= "As the multiplication of Web browsing devices goes on, it's harder to understand usage"
  .problem.slide_content
    = image_tag "why/audience_isolated.png", alt: "Isolated Audience", class: "right", style: "margin-top:-40px"
    %p= "With an audience watching your video on more platforms and devices than ever before, it's important to be able to understand which platforms they're using to access your content."
    %p= "While there are a number of analytics packages available that can easily be integrated with SublimeVideo, none of them provide a truly universal overview of your site's video traffic - broken down by device type or browser version and HTML5 or Flash playback."
  .solution.section_banner
    .wrap
      %em= "The Solution:"
      %h3= "SublimeVideo gives you the complete picture, in real-time"
  .solution.slide_content
    = image_tag "why/sublimevideo_stats.png", alt: "SublimeVideo Universal Real-Time Stats", class: "right", style: "margin:10px 40px 20px 80px"
    %p= raw "SublimeVideo's statistics platform is <strong>integrated directly with the player</strong>, so there's no additional set up or configuration to get started."
    %p= raw "SublimeVideo Player reports consistent statistics from <strong>all platforms - HTML5 and Flash playback on both desktop and mobile devices</strong>. This allows us to collect data from all platforms and present a comprehensive, universal overview of your site’s video traffic - all in real-time. This helps you to better understand your audience and measure the real success of your videos."
    %p= "We designed SublimeVideo's statistics platform to be able to be used alongside the other powerful analytics packages available today, giving you an even greater level of flexibility and insight into your traffic."
    .spacer
  = link_to demo_site_stats_url, class: "banner_link" do
    %span= "Try a live demo of SublimeVideo's Universal, Real-Time Statistics Dashboard"

%section.showcases
  .wrap
    %ul
      %li
        .box
          = image_tag "showcase/avatars/thomas-pamminger-wollzelle.jpg"
          %blockquote= "“SublimeVideo enables us to integrate rock-solid video capabilities into our sites and applications, safe in the knowledge they will work everywhere, so we can focus on what the video is about and what happens around it.”"
          %p.author= "—Thomas Pamminger, CEO/Chief Creative Officer, Wollzelle."
      %li
        .box
          = image_tag "showcase/avatars/garrett_bjerkhoel_bkwld.jpg"
          %blockquote= "“It was a huge relief to be able to rely on SublimeVideo to have a cross-browser solution that was not only visually pleasing to the users and our designers. It took less than 10 minutes to implement with zero to little configuration to get up and running.”"
          %p.author= "—Garrett Bjerkhoel, Senior Developer at BKWLD."
      %li
        .box
          = image_tag "showcase/avatars/thomas-pamminger-wollzelle.jpg"
          %blockquote= "“SublimeVideo enables us to integrate rock-solid video capabilities into our sites and applications, safe in the knowledge they will work everywhere, so we can focus on what the video is about and what happens around it.”"
          %p.author= "—Thomas Pamminger, CEO/Chief Creative Officer, Wollzelle."
      %li
        .box
          = image_tag "showcase/avatars/garrett_bjerkhoel_bkwld.jpg"
          %blockquote= "“It was a huge relief to be able to rely on SublimeVideo to have a cross-browser solution that was not only visually pleasing to the users and our designers. It took less than 10 minutes to implement with zero to little configuration to get up and running.”"
          %p.author= "—Garrett Bjerkhoel, Senior Developer at BKWLD."
  %button.previous.arrow
    %span= "previous"
  %button.next.arrow
    %span= "next"
  .spacer
  .center
    = link_to "Visit our Showcase page to read more testimonials from SublimeVideo users", "", class: "showcase"
= render "layouts/sign_up_box"

    