- @page_title = "YouTube Integration"

= content_for :header do
  %h2= "Seamless YouTube integration"
  %p.sub= "SublimeVideo now fully integrates with YouTube, bringing together the world's most sophisticated HTML5 Video Player and the biggest video platform."

= image_tag "features/youtube_icon.jpg", alt: "SublimeVideo YouTube Integration", class: "youtube"
%p= raw "Now, thanks to YouTube Player API and #{link_to "SublimeVideo Horizon", 'horizon-framework'}, using the SublimeVideo Player with YouTube could not be simpler."

%p= raw "This strong integration enables you to encode, host and deliver your videos on #{link_to "YouTube", 'http://youtube.com'} and play them on your site or blog using your personalized SublimeVideo Player."

%p= "This integration really allows you to benefit from the best of both worlds!"

%p= raw "Indeed, any specific features implemented within SublimeVideo Players like social shares or embed will work with YouTube hosting. Needless to say this supports both the HTML5 and the Flash mode of YouTube, thus offering a wide platform/browser coverage."

%p= raw "We made it super-easy for you: Just specify the YouTube video ID in the youtube-id #{h "<video>"} data setting and that's it. It couldn't be simpler. #{link_to "See documentation", docs_url('beta/youtube')}."

.demos
  .video_wrap
    <video class="sublime" poster="#{asset_path "demo/midnight_sun_800.jpg"}" width="640" height="360" data-settings="youtube-id:rAq2rNEru8A" preload="none"></video>
  %p
    %em.caption= "This video, hosted on YouTube, plays inside the SublimeVideo Classic Player."
  .video_wrap
    <video class="sublime" poster="#{image_path "youtube/sony_poster_1.jpg"}" width="640" height="360" data-settings="player-kit:6;youtube-id:mEnSvSkwygc" preload="none"></video>
  %p
    %em.caption= "This video, hosted on YouTube, plays inside the Sony tailor-made SublimeVideo Player."
  %a.sublime.lightbox{ href: "#video3", data: { settings: 'overlay-opacity:0.8' }}
    = image_tag "youtube/lightbox_thumb.jpg", alt: "Lightbox Thumbnail"
    %span.overlay
  <video id="video3" style="display:none" poster="#{image_path "demo/midnight_sun_800.jpg"}" width="800" height="450" data-settings="youtube-id:rAq2rNEru8A" preload="none"></video>
  %p
    %em.caption= "YouTube integration also works inside the SublimeVideo Lightbox."
.big_break

%p= raw "Please note that any site using YouTube along with the SublimeVideo Player must comply with YouTube's terms and conditions. Particularly with the current version of YouTube Player API, this integration should not be used, if a video is monetized using Overlay or TrueView Ads. #{link_to "Learn more",""}."
