- @body_class = "tailor_made_form"
- @page_title = "Tailor-made Players Partnerships - Contact form"

= content_for :header do
  %h2= "Tailor-made Players Partnerships - Contact form"
  %p.sub= "If you are interested to teaming up with us to design tailor-made players, please fill in the form below. We will contact you shortly."

%section.box
  %h3.title= "Thank you!"

  %p= "We will reply to you really soon."
