= content_for :meta do
  %meta{ name: 'viewport', content: 'width=1080' }/

= content_for :css do
  = stylesheet_link_tag "//fast.fonts.com/cssapi/408c56a9-a5bb-46f5-b6cf-20bc44f6bd24.css"

= content_for :javascript do
  = javascript_include_tag '//use.typekit.net/qxb6miz.js'
  = sublimevideo_loader_tag(:www, host: cdn_host, stage: 'beta').html_safe

= render template: 'layouts/sublimevideo'
